<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About pages</title>
</head>
<body>
  {{> header}}

  <h2>projects page text would go here</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, rem, eaque deserunt nisi quibusdam dolores tempore eum cum eius ipsa debitis obcaecati cupiditate perferendis expedita, esse praesentium. In, veritatis deserunt.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, rem, eaque deserunt nisi quibusdam dolores tempore eum cum eius ipsa debitis obcaecati cupiditate perferendis expedita, esse praesentium. In, veritatis deserunt.</p>

  {{> footer}}
</body>
</html>